.muffe { 
  font-size: 0px;
  border-left-width: 72px;
  border-right-width: 54px;
  margin-left: 19px;
  border-left-width: 33px;
  margin-bottom: 87px;
  margin-right: 6px;
  border-top-width: 44px;
  border-left-width: 69px;
  border-top-width: 7px;
  line-height: 47px;
  border-bottom-width: 66px;
  line-height: 60px;
  margin-left: 55px;
  padding-top: 37px;
  padding-bottom: 54px;
  margin-bottom: 55px;
  padding-bottom: 80px;
  border-top-width: 33px;
  margin-bottom: 73px;
  font-size: 74px;
  border-top-width: 34px;
  margin-bottom: 60px;
  margin-right: 76px;
  padding-left: 86px;
  font-size: 47px;
  font-size: 73px;
  padding-right: 97px;
  padding-bottom: 99px;
  border-left-width: 13px;
  padding-left: 94px;
}
