.muffe { 
  font-size: 0px;
  border-left-width: 72px;
  border-right-width: 54px;
  margin-left: 19px;
  border-left-width: 33px;
  margin-bottom: 87px;
  margin-right: 6px;
  padding-bottom: 67px;
}
